.recipe-manage {
  @extend %alternatingComponent;

  .container {
    max-width: 700px;
  }
}

.recipe-manage-listing {
  display: block;
  position: relative;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  border-radius: 4px;
  background-color: #fafafa;
  box-shadow: 0 0 4px rgba(20, 20, 20, 0.3);
  min-height: 400px;

  h3 {
    background-color: #000b22;
    color: #e9a804;
    padding: 15px 20px;
    position: relative;
  }
}

.recipe-manage-menu {
  list-style: none;
  display: flex;
  padding: 12px;
  flex-flow: column wrap;

  li {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;

    &:nth-of-type(odd) {
      background-color: rgb(241, 241, 241);
    }

    img {
      width: 80px;
      height: 80px;
      margin-left: 4px;
    }

    h4 {
      margin-left: 10px;
      flex: 1;
      font-style: italic;
    }
  }
}

.btn-group {
  position: relative;

  span {

    cursor: pointer;
    position: relative;
    margin: 0 8px;
    background-color: #e9a804;
    color: #000b22;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    color: transparent;


    //first type edit
    &:nth-last-of-type(1) {
      &::after {
        content: "\f2ed";
      }
    }

    &:nth-last-of-type(2) {
      &::after {
        content: "\f044";
      }
    }

    //second type trash


    &:hover {
      background-color: #000b22;

      &::after {
        color: #e9a804;
      }
    }

    &::after {
      content: "\f2ed";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: #000b22;
      font-size: 18px;
    }
  }
}


.add-btn {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  padding: 6px 18px;
  top: 0;
  right: 0;
  margin-top: 12px;
  margin-right: 10px;
  background-color: #e9a804;
  color: #000b22;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  z-index: 20;
  text-transform: uppercase;

  &::after {
    content: "\f35d";
    font-weight: bolder;
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 2px;
  }

  &:hover {
    background-color: #ca950d;
  }
}