$breakPoints: (
  medium: 750px,
  large: 900px
);

@mixin respond-to($size) {
  $current: map-get($breakPoints, $size);
  @media only screen and(
      min-width: $current
    ) {
    @content;
  }
}
