%alternatingComponent {
  min-height: 400px;
  margin-top: 50px;
  display: none;
  position: relative;
  width: 100%;
}

@import "./header.scss";
@import "./mobile-menu";
@import "./components/recipeSearch.scss";
@import "./components/recipeListing";
@import "./components/recipeCard";
@import "./components/recipeProfile";
@import "./components/recipeManage";
@import "./components/recordTemplate";
@import "./footer";